* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

header {
    background-color: #000000;
    height: 100px;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.logo {
    width: 100px;
}

.logoimg {
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 40px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 5px solid #000000;
}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #b28756;
    color: #CCC;
}


.button {
    font-size: 13px;
    margin-top: 30px;
    background-color: #b28756;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 20px;
    text-transform: uppercase;
}


.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
}

.banner .sliders {
    height: 100%;
    width: 1000vw;
} 

.banner .slide {
    display: inline-block;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
    font-size: 35px;
}

.banner .slide span {
    color: #b28756;
}

.banner .slide h2 {
    margin-top: 20px;
    font-size: 25px;
}

.banner .sliders_pointers {
    position: absolute;
    margin-top: -50px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: #b28756;
}






.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section_title,
.default .section_desc {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.default .section_title {
    font-size: 20px;
}

.default .section_desc {
    font-size: 12px;
    color: #999;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section_body {
    max-width: 1140px;
    margin: auto;
}

.default.light { 
    background-color: #F7F7F7;
}

.default.light .section_title,
.default.light .sectio_body {
    color: #000000;
}

.default.dark {
    background-color: #000000;
}

.default.dark .section_title,
.default.dark .section_body {
    color: #FFFFFF;
}










/*********** SECTION ABOUT US ************/
.section_about_us {
    display: flex;
}
.section_about_us_left {
    flex: 1;
}
.section_about_us_left p {
    font-size: 14px;
    line-height: 25px;
}
.section_about_us_right {
    width: 520px;
    text-align: center;
}
.section_about_us_right img {
    width: 480px;
    box-shadow: 5px 10px 15px #333;
}
/*//////////////////////////////////////////////*/



/**************** SECTION SERVICES **************/
.section_services {
    display: flex;
}
.section_services .section_service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
}
.section_services .section_service:first-child {
    border-left: 1px solid #333;
}
.section_service h4{
    font-size: 18px;
    margin-top: 20px;
}
.section_service p {
    color: #999;
    margin-top: 10px;
    line-height: 20px;
    font-size: 13px;
}
/*//////////////////////////////////////////////*/



/************* SECTION PROJECTS **************/
.section-projects {
    text-align: center;
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
}
.section-projects--filters {
    border: 1px solid #CCC;
    background-color: #EEE;
    border-radius: 20px;
    padding: 3px 20px;
    display: inline-block;
}
.section-projects--filters ul,
.section-projects--filters ul li {
    list-style: none;
}
.section-projects--filters ul li {
    display: inline-block;
    font-size: 13px;
    color: #555;
    text-transform: uppercase;
    border-left: 1px solid #CCC;
    padding: 10px;
    border-bottom: 3px solid #EEE;
    cursor: pointer;
}
.section-projects--filters ul li:first-child {
    border: 0;
}
.section-projects--filters ul li:hover {
    border-bottom: 3px solid #b28756;
}
.section-projects--photos {
    margin-top: 20px;
    width: 100vw;
    max-width: 1140px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.section-projects--photo {
    width: 280px;
}
.section-projects--photoarea {
    width: 260px;
    height: 160px;
    margin: 10px;
}
.section-projects--photoarea img {
    width: inherit;
    height: inherit;
}
.section-projects--photoinfo {
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    display: none;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
}
.section-projects--photoinfo h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
.section-projects--photo:hover .section-projects--photoinfo {
    display: flex;
}
/*//////////////////////////////////////////////*/



/****************** OUR TEAM SECTION *********************/
.bg-team {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;    
}
.section-team-area {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-team {
    max-width: 880px;
    margin: auto;
    overflow: hidden;
}
.section-team .sliders {
    height: 100%;
    width: 1000vw;
} 
.section-team .slide {
    display: inline-block;
    height: 100%;
    min-height: 300px;
    width: 280px;
    background-color: #FFFFFF;
    margin-right: 20px;
}
.section-team .slidearea {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
    font-size: 35px;
    padding: 30px;
}
.section-team-area .sliders_pointers {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-team-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-team-area .pointer.active {
    background-color: #b28756;
}
.section-team--avatar {
    width: 150px;
    height: auto;
}
.section-team--name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}
.section-team--role {
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}
.section-team--social {
    margin-top: 10px;
  
}
.section-team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 13px;
    background-color: #CCC;
}
.section-team--social a:hover {
    background-color: #b28756;
}
/*//////////////////////////////////////////////////////*/



/**************** HAPPY CLIENTS SECTION ***************/
.section-happy-clients {
    max-width: 700px;
    margin: auto;
    overflow: hidden;
  
}
.section-happy-clients .sliders {
    width: 1000vw;
    height: 100%;
    margin-left: -1400px;
}
.section-happy-clients .slide {
    height: 100%;
    width: 700px;
    display: inline-block;
}
.section-happy-clients .slidearea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-happy-clients .section-happy-clients--avatar {
    width: 150px;
}
.section-happy-clients .section-happy-clients--name {
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
}
.section-happy-clients .section-happy-clients--role {
    font-size: 15px;
    font-weight: 500;
    margin-top: 3px;
}
.section-happy-clients .section-happy-clients--comment {
    margin-top: 30px;
    text-align: center;
}
.section-happy-clients--comment p {
    margin-top: 10px;
    color: #999;
    line-height: 23px;
    font-size: 13px;
    font-weight: 500;
}
.section-happy-clients .sliders_pointers {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-happy-clients .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-happy-clients .pointer.active {
    background-color: #b28756;
}
/*//////////////////////////////////////////////////////*/



/************ SECTION COMPANIES **********/
.section-companies {
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}
.section-companies--area {
    display: flex;
    justify-content: center;
    align-items: center;

}
.section-company {
    flex: 1;
    text-align: center;
}
/*//////////// SECTION COMPANIES /////////////*/



/************** SECTION PRICE ***************/
.section-price {
    display: flex;
}
.section-price-item {
    background-color: #FFFFFF;
    width: 500px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.section-price--name {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.section-price--money {
    font-size: 20px;
    font-weight: 700;
}
.section-price--period {
    color: #999;
    font-size: 13px;
    margin-bottom: 20px;
}
.button.button-dark {
    background-color: #000000;
    text-transform: uppercase;
}
.button.button-dark:hover {
    background-color: #b28756;
}
.section-price-item:hover {
   box-shadow: 0px 0px 10px #000000;
}
/*//////////////////////////////////////////////*/



/******** SECTION PREMIUM **********/
.default.light.premium {
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    background-color: #FFFFFF;
}
.section-premium {
    border-bottom: 1px solid #DDD;
    padding-bottom: 30px;
    overflow-x: hidden;
}
.section-premium .sliders {
    width: 1000vw;
    height: 100%;
    display: flex;
}
.section-premium .slide {
    height: 100%;
    width: 100vw;
    max-width: 1140px;
    display: inline-block;
}
.section-premium .slidearea {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.section-premium-object img {
    width: 300px;
}
.section-premium-right {
    width: 600px;
    padding-left: 30px;
}
.section-premium-feature {
    display: flex;
    margin-bottom: 20px;
}
.section-premium-feature img {
    margin-right: 20px;
    width: 20px;
    height: 20px;
}
.section-premium-feature h3 {
    font-size: 18px;
    font-weight: 600;
}
.section-premium-feature p {
    color: #999;
    line-height: 20px;
}
.default.light.premium .sliders_pointers {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.default.light.premium .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.default.light.premium .pointer.active {
    background-color: #b28756;
}
/*//////////////////////////////////////////////*/


/********* SECTION FACTS **********/
.section-facts {
    display: flex;
    justify-content: center;
}
.section-fact {
   flex: 1;
   text-align: center;
   padding:15px;
}
.section-fact .section-fact--size {
    font-size: 45px;
    font-weight: 700;
    color: #b28756;
}
.section-fact-line {
    border-bottom: 2px solid #b28756;
    width: 20px;
    margin: auto;
    margin-bottom: 20px;
}
.section-fact h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.section-fact p {
    color: #DDD;
}
/*//////////////////////////////////////////////*/


/************** SECTION SHARE ******************/
.section-share {
    padding: 20px;
    display: flex;
    justify-content: center;
    color: #999;
    background-color: #FFFFFF;
}
.section-share--legend {
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.section-share--legend img {
    margin-right: 10px;
}
.section-share--item {
    font-size:12px;
    margin-right:20px;
    display:flex;
    align-items:center;
    cursor:pointer;
}
.section-share--icon {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
.section-share--icon img {
    height: 12px;
}
.section-share--icon.twitter {
    background-color:#34c5f0;
}
.section-share--icon.linkedin {
    background-color:#127cb4;
}
.section-share--icon.facebook {
    background-color:#336297;
}
.section-share--icon.googleplus {
    background-color:#e74237;
}
.section-share--icon.pinterest {
    background-color:#b71c29;
}
/*/////////////////////////////////////////////////*/


/************* SECTION CONTACT ******************/
.section-contact {
    margin: auto;
    width: 450px;
    text-align: center;
}
.section-contact--split {
    display: flex;
}
.section-contact--split input:first-child {
    margin-right:20px;
}
.section-contact input[type="text"],
.section-contact textarea {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #CCC;
    outline: none;
    margin-top: 10px;
}
.section-contact textarea {
    height: 100px;
    resize: none;
}
/*/////////////////////////////////////////////////*/


/************* SECTION MAP ******************/
.section-map {
    background-image: url('../images/mapa.jpg');
    background-size: cover;
    background-position: center;
    padding-top:30px;
    padding-bottom:30px;
}
.section-map-area {
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}
.section-map--info {
    background-color: #FFF;
    color: #999;
    width: 50%;
    padding: 30px;
}
.section-map--info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.section-map--info-img {
    background-color: #999;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 15px;
}
.section-map--info-img img {
    width: 15px;
}
/*//////////////////////////////////////////*/


